body{
    height: 100vh;
    width: 100vw;
    background-color: beige;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color:bisque;
    color: white;
    padding-top: 10px;
}

.navbar img{
    width: 130px;
}

.links{
    display: flex;
    gap: 10px;
}

.boton button{
    background-color: blue;
    color: white;
    border-radius: 50%;
    box-shadow: 5px 5px #ccc;
}

.boton{
    display: flex;
    gap: 10px;
}


